:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-text-color: #FFFFFF;
  --secondary-text-color: #212121;
  --primary-text-color-theme-light: #757575;
  --secondary-text-color-theme-light: #2196F3;
  --accent-color: #2F303A;
  --night-color:  #000;
  --main-color: #F5F5F5;
  --third-color: #F5F4FA;

}

body {
  font-family: var(--primary-font);
  background-color: var(--main-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background-color: var(--primary-text-color);
}

.link {
   text-decoration: none;  
}
ul {
    list-style: none;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--night-color);
}

.accent {
  color: var(--secondary-text-color-theme-light);
}

.menu-link {
font-family:  var(--primary-font);
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--secondary-text-color-theme-light);
}

.current {
  color: var(--secondary-text-color-theme-light);
}

.button.active {
background-color: var(--secondary-text-color-theme-light);
color: var(--primary-text-color);
}

.contact-mail,
.contact-phone-number {
font-family: var(--primary-font);
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--primary-text-color-theme-light);
}

.contact-mail:hover,
.contact-mail:focus,
.contact-phone-number:hover,
.contact-phone-number:focus {
color: var(--secondary-text-color-theme-light);
}


.hero {
    background-color: var(--accent-color);
}

.title {
font-family: var(--primary-font);
font-weight: 900;
font-size: 44px;
line-height:1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--primary-text-color);
}

.modal-open-btn:focus,
.modal-open-btn {
cursor: pointer;
font-family: var(--primary-font);
font-weight: 700;
font-size: 16px;
line-height: 1.88;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--primary-text-color);
background: var(--secondary-text-color-theme-light);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}

.about-title {
line-height: 1.14;
text-transform: uppercase;
}

.about-text {
line-height: 1.71;
color: var(--primary-text-color-theme-light);
}

.subtitle {
font-size: 36px;
line-height: 1.17;
text-align: center;
}

.team {
  background-color: var(--third-color);
}

.team-name {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
}

.team-position {
font-size: 16px;
line-height: 1.19;
text-align: center;
color: var(--primary-text-color-theme-light);
}



.footer-page {
  background-color: var(--accent-color);
}

.address {
  font-style: normal;
}

.footer-logo {
  color: var(--primary-text-color);
}



.maps {
font-weight: 400;
line-height: 1.71;
color: var(--primary-text-color);
}


.btn {
cursor: pointer;
font-family: var(--primary-font);
font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: center;
}

.btn:focus,
.btn:hover {
  color: var(--primary-text-color);
  background-color: var(--secondary-text-color-theme-light);
}

.project-title {
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}

.tagline {
font-size: 16px;
line-height: 1.88;
color: var(--primary-text-color-theme-light);
}

.picture {
  cursor: pointer;
}


